@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.footer__text, .contact__text, .experience__text, .experience__list .list__text, .portfolio__text, .service__text, .service__list .list__text, .about__desc, .about__text {
  color: #6B7280;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
}

.footer__title, .contact__title, .experience__title, .portfolio__title, .service__title, .service__list .list__title, .about__title {
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64rem;
}

html {
  font-size: 1px;
}

@media (max-width: 768px) {
  html {
    font-size: 0.9px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 0.8px;
  }
}
body {
  font-family: "Lexend Deca", sans-serif;
  background: #020617;
  color: #fff;
}

.container {
  max-width: 1148px;
  padding: 0 20px;
  margin-inline: auto;
}

.btn {
  padding: 8px 20px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background: #EAB308;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  transition: 0.2s all ease-out;
}
.btn:hover {
  background: #f8c72d;
}

.about__btn {
  padding: 16px 20px;
}

.contact__btn {
  max-width: 123px;
  padding: 16px 20px;
}

.header {
  padding: 16rem 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  color: #FFF;
  font-size: 24rem;
  font-weight: 700;
  display: flex;
}
.header__logo span {
  color: #EAB308;
}
.header__menu {
  display: none;
}
@media (max-width: 992px) {
  .header__menu {
    display: inline-block;
  }
}
.header__nav {
  display: flex;
  gap: 27rem;
  align-items: center;
}
@media (max-width: 992px) {
  .header__nav {
    position: fixed;
    min-width: 250rem;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    background: #EAB308;
    justify-content: center;
    transition: 0.2s all ease-out;
    transform: translateX(-120%);
  }
  .header__nav.is-active {
    transform: translateX(0);
    z-index: 3;
  }
}
.header__a {
  color: #9CA3AF;
  font-size: 16rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.2s all ease-out;
}
@media (max-width: 992px) {
  .header__a {
    color: #000;
  }
}
.header__a.is-active, .header__a:hover {
  color: #fff;
}

.welcome {
  padding: 96rem 0;
  padding-right: 18rem;
  background: #111827;
}
@media (max-width: 576px) {
  .welcome {
    padding: 96px 25px;
  }
}
.welcome .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20rem;
}
@media (max-width: 576px) {
  .welcome .container {
    flex-direction: column-reverse;
  }
}
.welcome__hello {
  color: #EAB308;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  margin-bottom: 24rem;
}
.welcome__name {
  color: #F3F4F6;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64rem;
  margin-bottom: 8rem;
}
.welcome__role {
  color: #6B7280;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27rem;
  margin-bottom: 24rem;
  max-width: 466rem;
}
.welcome__img {
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .welcome__img {
    flex-shrink: inherit;
  }
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 96rem 9rem;
  gap: 89rem;
}
@media (max-width: 576px) {
  .about .container {
    flex-direction: column;
    padding: 60rem 40rem;
  }
}
.about__img {
  display: flex;
  position: relative;
  margin-left: 44rem;
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .about__img {
    flex-shrink: inherit;
  }
}
.about__img img {
  z-index: 2;
}
.about__img-backdrop {
  position: absolute;
  top: 10rem;
  right: 35rem;
  width: 100%;
  height: calc(100% + 27rem);
  border-radius: 24rem;
  border: 16rem solid #EAB308;
}
.about__title {
  margin-bottom: 32rem;
}
.about__title span {
  color: #EAB308;
}
.about__text {
  max-width: 461rem;
  margin-bottom: 18rem;
}
.about__desc {
  max-width: 509rem;
  margin-bottom: 40rem;
}

.service {
  background: #111827;
}
.service .container {
  padding: 96rem 15rem;
}
@media (max-width: 576px) {
  .service .container {
    text-align: center;
    flex-direction: column;
    padding: 70rem 15rem;
  }
}
.service__list {
  display: flex;
  gap: 30rem;
}
@media (max-width: 992px) {
  .service__list {
    flex-direction: column;
  }
}
.service__list .list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32rem;
  gap: 8rem;
  border-radius: 12rem;
  background: #020617;
}
.service__list .list__title {
  margin-inline: auto;
  margin-bottom: 16rem;
  margin-top: 32rem;
  max-width: 223rem;
  font-size: 26rem;
  line-height: 41rem;
}
.service__title {
  margin-bottom: 24rem;
}
@media (max-width: 992px) {
  .service__title {
    text-align: center;
  }
}
.service__title span {
  color: #EAB308;
}
.service__text {
  max-width: 461rem;
  margin-bottom: 56rem;
}
@media (max-width: 992px) {
  .service__text {
    margin-inline: auto;
    text-align: center;
  }
}

.portfolio .container {
  padding: 96rem 15rem;
}
.portfolio__list {
  display: flex;
  align-items: center;
  gap: 27rem;
}
@media (max-width: 992px) {
  .portfolio__list {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .portfolio__list__first {
    max-width: 256px;
  }
}
.portfolio__list__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 543rem;
  gap: 31rem;
}
.portfolio__title {
  margin-bottom: 24rem;
  text-align: center;
}
.portfolio__title span {
  color: #EAB308;
}
.portfolio__text {
  margin-inline: auto;
  text-align: center;
  max-width: 461rem;
  margin-bottom: 80rem;
}

.experience {
  background: #111827;
}
.experience .container {
  padding: 85rem 15rem;
}
.experience__list {
  display: flex;
  gap: 30rem;
}
@media (max-width: 992px) {
  .experience__list {
    flex-direction: column;
  }
}
.experience__list .list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32rem;
  gap: 8rem;
  border-radius: 12rem;
  background: #020617;
}
.experience__list .list__title {
  color: #EAB308;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 26rem;
  font-weight: 700;
  line-height: 41rem;
}
.experience__list .list__welcome {
  margin-bottom: 16rem;
  color: #fff;
  font-size: 16rem;
  font-weight: 700;
  line-height: 27rem;
}
.experience__list .list__time {
  margin-bottom: 8rem;
  color: #fff;
  font-size: 20rem;
  font-weight: 400;
  line-height: 27rem;
}
.experience__title {
  margin-bottom: 24rem;
}
@media (max-width: 992px) {
  .experience__title {
    text-align: center;
  }
}
.experience__title span {
  color: #EAB308;
}
.experience__text {
  max-width: 860rem;
  margin-bottom: 80rem;
}
@media (max-width: 992px) {
  .experience__text {
    margin-inline: auto;
    text-align: center;
  }
}

.contact .container {
  padding: 96rem 15rem;
}
.contact .container-adresa {
  display: flex;
  align-items: center;
  gap: 223rem;
}
@media (max-width: 768px) {
  .contact .container-adresa {
    flex-direction: column;
    gap: 70rem;
  }
}
@media (max-width: 576px) {
  .contact__adresa {
    text-align: center;
  }
}
.contact__title {
  margin-bottom: 24rem;
  text-align: center;
}
.contact__title span {
  color: #EAB308;
}
.contact__text {
  margin-inline: auto;
  text-align: center;
  max-width: 685rem;
  margin-bottom: 56rem;
}
.contact .adresa__welcome {
  max-width: 440rem;
  margin-bottom: 16rem;
  color: #EAB308;
  font-size: 16rem;
  font-weight: 700;
  line-height: 41rem;
}
.contact .adresa__welcome span {
  color: #fff;
  font-size: 16rem;
  font-weight: 400;
  line-height: 41rem;
}
.contact__messages {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 32rem;
}
.contact__messages input {
  padding: 10rem 18rem;
  max-width: 350rem;
  height: 63rem;
  background: #1F2937;
  color: #fff;
  outline: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 15rem;
  font-family: "Lexend Deca", sans-serif;
}
.contact__messages input::-moz-placeholder {
  color: #fff;
  font-size: 15rem;
  font-weight: 400;
}
.contact__messages input::placeholder {
  color: #fff;
  font-size: 15rem;
  font-weight: 400;
}
.contact__messages textarea {
  padding: 10rem 18rem;
  max-width: 540rem;
  min-height: 166rem;
  color: #fff;
  outline: 0;
  flex-shrink: 0;
  background: rgb(31, 41, 55);
  border: none;
  border-radius: 15rem;
  font-family: "Lexend Deca", sans-serif;
  resize: none;
}
.contact__messages textarea::-moz-placeholder {
  color: #fff;
  font-size: 16rem;
  font-weight: 400;
}
.contact__messages textarea::placeholder {
  color: #fff;
  font-size: 16rem;
  font-weight: 400;
}

.footer .container {
  padding: 56rem 10rem;
}
.footer__icons {
  display: flex;
  justify-content: center;
  gap: 16rem;
}
.footer__title {
  margin-bottom: 24rem;
  text-align: center;
}
.footer__title span {
  color: #EAB308;
}
.footer__text {
  margin-inline: auto;
  text-align: center;
  max-width: 683rem;
  margin-bottom: 56rem;
}/*# sourceMappingURL=style.css.map */