html{
	font-size: 1px;
}

@include tablet-small{
	html{
		font-size: 0.9px;
	}
}

@include mobile{
	html{
		font-size: 0.8px;
	}
}

body {
	font-family: $ff;
	background: $body-bg;
	color: $body-color;
}

.container {
	max-width: calc(1108px + 40px);
	padding: 0 20px;
	margin-inline: auto;
}
