.about{
    .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 96rem 9rem;
        gap: 89rem;

		@include mobile {
			flex-direction: column;
            padding: 60rem 40rem;
		}
	}

    &__img {
        display: flex;
        position: relative;
        margin-left: 44rem;
		flex-shrink: 0;

		@include tablet {
			flex-shrink: inherit;
		}

        img {
            z-index: 2;
        }
        
        &-backdrop{
        position: absolute;
        top: 10rem;
        right: 35rem;
        width: 100%;
        height: calc(100% + 27rem);
        border-radius: 24rem;
        border: 16rem solid $primary-color;
        }

	}

    &__title{
        @extend %titledecoration;
        margin-bottom: 32rem;
		
		span {
			color: $primary-color;
		}
    }

    &__text{
        @extend %textdecoration;
        max-width: 461rem;
        margin-bottom: 18rem;
    }

    &__desc{
        @extend %textdecoration;
        max-width: 509rem;
        margin-bottom: 40rem;
    }

    
}