.contact{

    .container{
        padding: 96rem 15rem;

        &-adresa{
            display: flex;
            align-items: center;
            gap: 223rem;

            @include tablet-small{
                flex-direction: column;
                gap: 70rem;
            }
        }
    }

    &__adresa{
        @include mobile{
            text-align: center;
        }
    }

    &__title{
        @extend %titledecoration;
        margin-bottom: 24rem;
        text-align: center;
		
		span {
			color: $primary-color;
		}
    }

    &__text{
        @extend %textdecoration;
        margin-inline: auto;
        text-align: center;
        max-width: 685rem;
        margin-bottom: 56rem;  
    }

    .adresa__welcome{
        max-width: 440rem;
        margin-bottom: 16rem;
        color: $primary-color;
        font-size: 16rem;
        font-weight: 700;
        line-height: 41rem;

        span{
            color:$white;
            font-size: 16rem;
            font-weight: 400;
            line-height: 41rem;
        }

    }

    &__messages{
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 32rem;

        input{
            padding: 10rem 18rem;
            max-width: 350rem;
            height: 63rem;
            background: #1F2937;
            color:$white;
            outline: 0;
            flex-shrink: 0;
            border: none;
            border-radius: 15rem;
            font-family: $ff;

            &::placeholder{
                color: $white;
                font-size: 15rem;
                font-weight: 400;
            }
        }

        textarea{
            padding: 10rem 18rem;
            max-width: 540rem;
            min-height: 166rem; 
            color:$white;
            outline: 0; 
            flex-shrink: 0;
            background: rgb(31, 41, 55);
            border: none;
            border-radius: 15rem;
            font-family: $ff;
            resize: none;

            &::placeholder{
                color: $white;
                font-size: 16rem;
                font-weight: 400;
            }
        }
    }
}