.service{
    background: $section-bg;

    .container{
        padding: 96rem 15rem;
        @include mobile {
            text-align: center;
			flex-direction: column;
			padding: 70rem 15rem;
		}
       
    }

    &__list{
        display: flex;
        gap: 30rem;
        @include tablet {
            flex-direction: column;
        }

        .list{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 32rem;
            gap: 8rem;
            border-radius: 12rem;
            background: $body-bg;

            &__title{
                @extend %titledecoration;
                margin-inline: auto;
                margin-bottom: 16rem;
                margin-top: 32rem;
                max-width: 223rem;
                font-size: 26rem;
                line-height: 41rem;
            }

            &__text{
                @extend %textdecoration;             
            }
        }
    }

    &__title{
        @extend %titledecoration;
        margin-bottom: 24rem;
        @include tablet {
            text-align: center;
        }
		
		span {
			color: $primary-color;
		}
    }

    &__text{
        @extend %textdecoration;
        max-width: 461rem;
        margin-bottom: 56rem;
        @include tablet {
            margin-inline: auto;
            text-align: center;
        }
    }
}